{% extends 'book_list/index.html' %}

{% block content %}

<div class="container">
    <h1>수정</h1>
    <table class="table table-light table-bordered">
        <thead>
            <tr>
                <th scope="col">책코드</th>
                <th scope="col">책이름</th>
                <th scope="col">저자</th>
                <th scope="col">출판사</th>
                <th scope="col">출판일</th>
                <th scope="col">가격</th>
            </tr>
        </thead>
        <tbody>
            {% for book in booklist %}
            <tr>
                <td>{{book.bcode}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher.name}}</td>
                <td>{{book.year_of_publication}}</td>
                <td>{{book.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="mb-3" style='text-align:center;'>
        <ul class='pagination'>
            {% for i in page_range %}
            <li>
                <a href='?page={{ i }}'>
                    {{ i }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <label for="bcode" class="form-label">수정할 책 코드를 선택하세요 : </label>
            <input type="text" name="bcode" id="'bcode" required><br>
            <label for="title" class="form-label">책이름 : </label><input type="text" name="title"  id="title" >
    <label for="author" class="form-label">저자 : </label><input type="text" name="author"  id="author">
    <label for="publisher" class="form-label">출판사 : </label><input type="text" name="publisher"  id="publisher">
    <label for="year_of_publication" class="form-label">출판일 : </label><input type="text" name="year_of_publication"  id="year_of_publication">
    <label for="price" class="form-label">가격 : </label><input type="text" name="price"  id="price" pattern="[0-9]+">
            <input type="submit" value="수정" class="btn btn-warning mb-3">
        </form>

        
        <br>
        <button class="btn btn-dark" onclick="location.href='/'">홈으로</button>

    </div>

</div>
{% endblock %}

{% block update %}
{% endblock%}